html {
    
    box-sizing: border-box;
}

*, *:before, *:after {

    box-sizing: inherit;
}

body {
  background: #d0eed1;
}

h1 {
  color: #044a20;
  background-color: #8fffaf;
  font-family:'Courier New', Courier, monospace;
  font-style: oblique;
  border: 3px solid darkgreen;
  border-radius: 8px;
  padding: 50px;

}

h2 {
    color: #3b644c;
    font-family: 'Times New Roman', Times, serif;
}

.myPhoto {
    color: aqua;
    background-color: darkblue;
}

p {
    color: #008125;
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: inherit;
}

footer {
    color: #204d1d;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: #0d3d1b;
}

.aboutMe {
    color: #2bb31a;
    background-color: black;
}