html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
    max-width: 768px;
    margin: 0 auto;
}

body {
  background: #d0eed1;
}

p {
  color: #008125;
  background-color: aquamarine;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: inherit;
  border: 1.5px solid rgb(97, 215, 175);
  border-radius: 10px;
  padding: 5px 10px;
}

a {
  color: #0d3d1b;
}

.myPhoto {
  color: #008125;
  background-color: aquamarine;
  padding: 10px 5px;
  border: 1.5px solid rgb(97, 215, 175);
  border-radius: 10px;
  }

img {
  border-radius: 100%;
  border: 2px solid darkgreen;
}

.footer {
  color: #204d1d;
  font-family: "Times New Roman", Times, serif;

}

.aboutMe {
  color: #0f3e08;
}

.navigation {
  background: aquamarine;
  border: 1.5px solid rgb(97, 215, 175);
  border-radius: 10px;
  padding: 5px 10px;
  position: sticky;
  top: 0;
}

.page-header {
  color: #044a20;
  background-color: #8fffaf;
  font-family: "Courier New", Courier, monospace;
  font-style: oblique;
  border: 3px solid darkgreen;
  border-radius: 8px;
  padding: 25px;
}

.section-header {
  color: #2e4f3c;
  font-family: "Times New Roman", Times, serif;
}

.article-header {
  color: #0b3101;
}

.section {
    background: rgb(219, 248, 210);
    padding: 1px 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}